footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-transform: uppercase;

    background-color: #0D2C40;
    color: yellow;
    font-size: 14px;
    letter-spacing: .08em;
    font-weight: 500;
}
.copyright {
    float: left;
    font-family: "Raleway" , sans-serif;
}

.message {
    float: right;
    font-family: "Raleway" , sans-serif;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}
.name {
    color: rgb(218, 190, 33);
    font-weight: 700;
}